body {
  height: 100vh;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #252934;

}

.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: white;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
}

.my-work {
  color: white;
  font-size: 22px;
  border: 2px solid white;
  padding: 5px 15px;
  margin-top: 20px;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: flex-start;
  background-color: black;
  width: 100vw;
  border-bottom: 3px solid #05f4f8;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
  color: white;
  padding: 0px 10px;
}

.pink {
  color: #e31b6d;
}

h2 {
  font-weight: 600;
  text-align: center;
  font-size: 50px;
  margin: 90px 0px;
}

.adjective-container {
  display: flex;
}
